/**
 * test.css
 */

#test-content {
	/* display: none; */
}

.grid-test {
	width: 400px;
	height: 300px;
	background: #ccc;
	float: right;
}

#hexagonal-grid {
	background-image: url(../graphics/background/hex-grid-48x42.png);
}

#rectangular-grid {
	background-image: url(../graphics/background/square-grid-48x48.png);
}

#skew-grid {
	background-image: url(../graphics/background/vertical-diamond-grid-42x72.png);
}

