/**
 * test.css
 */

#test-content {
	/* display: none; */
	width: 620px;
	float: right;
	background: white;
	padding-left: 20px;
}
#test-content h3 {
	clear: both;
}

/**
 * sprite test styles
 */
.sprite-test .sprite {
	float: right;
}

/**
 * grid and region test styles
 */
.grid-test {
	width: 300px;
	height: 300px;
	background: #ccc;
	float: right;
}
#hexagonal-grid,
#regioned-hexagonal-grid {
	background-image: url(../graphics/background/hex-grid-48x42.png);
}
#hexagonal-horizontal-grid,
#regioned-hexagonal-horizontal-grid {
	background-image: url(../graphics/background/hex-grid-42x48.png);
}
#rectangular-grid,
#regioned-rectangular-grid {
	background-image: url(../graphics/background/square-grid-48x48.png);
}
#skew-grid {
	background-image: url(../graphics/background/vertical-diamond-grid-42x72.png);
}
#triangular-grid {
	background-image: url(../graphics/background/vertical-triangle-grid-56x96.png);
}

#regioned-hexagonal-grid .backdrop{
	position: absolute;
	left: -72px;
	top: -84px;
	height: 210px;
	width: 192px;
	background-image: url(../graphics/region/simple-hexagon-3x3x3-192x210.png);
}
#regioned-hexagonal-horizontal-grid .backdrop{
	position: absolute;
	left: -84px;
	top: -72px;
	height: 192px;
	width: 210px;
	background-image: url(../graphics/region/simple-hexagon-3x3x3-210x192.png);
}
#regioned-rectangular-grid .backdrop{
	position: absolute;
	left: -96px;
	top: -96px;
	height: 192px;
	width: 192px;
	background-image: url(../graphics/region/simple-square-2x2-192x192.png);
}

